

.item:nth-child(odd) {
  background-color: white;
}

.item {
  display: flex;
  background-color: rgba(128, 128, 128, 0.28);
  transition: width 0.5s;
  transition: background-color 0.5s;
  margin: 3px 0;
}

.item:hover {
  background-color: rgba(0, 149, 200, 0.5);
}

.item:active {
  background: #0095C8;
}

.icon {
  min-width: 64px;
  max-width: 64px;
  max-height: 64px;
}

.icon img {
  width: 100%;
  height: 100%;
}